/* Cores e fontes */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61; /* Cor do cabeçalho */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #e0f7fa; /* Cor de fundo das seções */
    border-radius: 8px;
}

footer {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
